<div class="container">
  <% @notes.each do |note| %>
    <div class="well" id="note-<%= note.id %>">
      <%= note.id %>
      <div class="title">
        <%= note.title %>
      </div>
      <form action="/notes/<%= note.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="PATCH">
        <textarea name="description" cols="30" rows="10" readonly class="description"><%= note.description %></textarea>
        <input type="submit" value="Edit" class="submit">
      </form>
      <%= form_tag "/notes/#{note.id}", method: :DELETE, remote: true do%>
        <input type="submit" value="Delete">
      <% end %>
    </div>
  <% end %>
</div>
<div class="container">
  <%= simple_form_for(@note, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :title, placeholder: 'Insert note title here..'  %>
    <%= f.submit 'Add Note' %>
  <% end %>

</div>
