<div class="container">
  <% @notes.each do |note| %>
    <div class="well" id="note-<%= note.id %>">
      <%= note.id %>
      <%= note.title %>
      <%= note.description %>
      <form action="/notes/<%= note.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="PATCH">
        <textarea name="description" cols="30" rows="10" readonly><%= note.description %></textarea>
        <input type="submit" value="Edit" class="submit">
      </form>
      <form action="/notes/<%= note.id %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
    </div>
  <% end %>
</div>
<div class="container">
  <%= simple_form_for(@note, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :title, placeholder: 'Insert note title here..'  %>
    <%= f.submit 'Add Note' %>
  <% end %>

</div>
